.course-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 10px;
}

.card-image{
    height: 200px;
}


@media screen  and (min-width:801px) and (  max-width:1400px) {
    .course-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 10px;
        align-items: center;
        justify-items: center
    }
}
@media screen  and (min-width:400px) and (  max-width:800px) {
    .course-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 10px;
        align-items: center;
        justify-items: center
    }
}
.card-title-btn{
    display: flex;
    align-items: center;
    justify-content: space-between
    
}

.btn-start{
    background-color: blueviolet !important;
    color: white !important;
}
.link-start-btn{
    text-decoration: none;
    color: white;
}

.link-start-btn:hover{
    color:black;
}

.our-courses{
    color: blueviolet;
}